# ignore all files by default (do not change these)
*
!*/

# whitelist - prettier check these files
!*.ts
!*.svelte
!*.js
!*.json
!*.cjs
!.prettierrc

# blacklist - prettier ignore these directories
/.svelte-kit
/build
/dist
