{
	"semi": false,
	"singleQuote": true,
	"bracketSameLine": true,
	"printWidth": 180,
	"useTabs": true,
	"arrowParens": "avoid",
	"trailingComma": "none",

	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
